.product {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  background-color: var(--color-primary);
  border-radius: var(--rounding-primary);
  width: 100%;
  height: 150px;
  max-width: 100%;
  object-fit: contain;
  overflow: hidden;
}

.delete {
  width: auto;
  position: absolute;
  right: 0.5rem;
  top: 0.2rem;
  background: none;
  color: inherit;
  padding: 2px 6px;
  outline-color: inherit;
  font-size: inherit;
}

.description {
  margin-top: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
