@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

:root {
  --color-primary: #ffffff;
  --color-accent: #6087ff;
  --color-secondary: #f1f1f3;

  --color-text-primary: #6c6c6c;

  --rounding-primary: 5px;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: auto;
}

button {
  -webkit-appearance: none;
  padding: 8px;
  cursor: pointer;
  border: none;
  border-radius: var(--rounding-primary);
  color: var(--color-primary);
  background: none;
  background-color: var(--color-accent);
  outline-offset: 3px;
  outline-color: var(--color-accent);
}

input {
  width: 100%;
  outline-color: var(--color-accent);
  line-height: 1.5rem;
  padding: 2px 0.5rem;
  font-size: 0.9rem;
  border-radius: var(--rounding-primary);
  border: 2px solid var(--color-secondary);
}

form label {
  display: block;
}
